/*
dev.mode
 */
@import "_mixins.scss";


html, body {
  height: 100%;
}

body {
  margin: 0 !important;
  display: flex;
}

#app {
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: min-content;
}

#app-content {
    flex-shrink: 0;
    flex-grow: 1;
}

#app-footer {
    z-index: 100;
    flex-shrink: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*
Variables
 */

$blue: #008fc3;
$light_blue: #55c0e9;
$light-light-blue: #b8d8ea;
$dark_blue: #002e6d;
$white: #FFFFFF;

/*
  VcA-Colors
*/

$vca-primary-light: #b8d8ea;
$vca-primary-dark: #002e6d;
$vca-secondary-color: #55c0e9;
$vca-secondary-darker: #03558c;
$vca-red: #e50846;
$vca-green: #45b7a9;
$vca-yellow: #ffe500;
$vca-orange: #ff5522;
